@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-base: rgba(244,244,244,1);
    --color-background-muted: rgba(224, 224, 224, 1);
    --color-text-base: rgb(0, 0, 0);
    --color-text-muted: rgba(79, 79, 79, 1);
    --color-text-inverted: rgba(244,244,244,1);
    --color-accent-1: rgb(31, 109, 151);
    --color-accent-2: rgba(255, 127, 0, 1);
    --color-edit-clock: rgba(150, 57, 168, 1);
  }
  .theme-dark {
    --color-background-base: rgb(0, 12, 18);
    --color-background-muted: rgb(0, 22, 34);
    --color-text-base: rgba(224, 224, 224, 1);
    --color-text-muted: rgba(79, 79, 79, 1);
    --color-text-inverted: rgba(244,244,244,1);
    --color-accent-1: rgb(31, 109, 151);
    --color-accent-2: rgba(255, 127, 0, 1);
    --color-edit-clock: rgba(150, 57, 168, 1);
  }
  .theme-retro {
    --color-background-base: rgb(240, 237, 225); 
    --color-background-muted: rgb(173, 185, 152);
    --color-text-base: rgba(60, 60, 55, 1); 
    --color-text-muted: rgba(95, 95, 95, 1); 
    --color-text-inverted: rgba(255, 255, 255, 1);
    --color-accent-1: rgb(33, 53, 57); 
    --color-accent-2: rgba(145, 130, 54, 1); 
    --color-edit-clock: rgba(200, 65, 170, 1);
    --color-button-bg: rgb(60, 45, 90); 
    --color-button-hover: rgb(90, 65, 125); 
  }
  .theme-olive {
    --color-background-base: rgb(10, 24, 22);
    --color-background-muted: rgb(28, 47, 44);
    --color-text-base: rgba(204, 204, 204, 1); 
    --color-text-muted: rgba(120, 120, 120, 1); 
    --color-text-inverted: rgba(244, 244, 244, 1);
    --color-accent-1: rgb(34, 81, 56); 
    --color-accent-2: rgba(255, 48, 48, 1);
    --color-edit-clock: rgba(200, 40, 60, 1);
    --color-button-bg: rgb(21, 44, 39); 
    --color-button-hover: rgb(15, 30, 28); 
  }
  .theme-grape {
    --color-background-base: rgb(22, 13, 40); 
    --color-background-muted: rgb(43, 22, 65); 
    --color-text-base: rgba(230, 230, 230, 1); 
    --color-text-muted: rgba(130, 130, 130, 1); 
    --color-text-inverted: rgba(244, 244, 244, 1); 
    --color-accent-1: rgb(95, 51, 157); 
    --color-accent-2: rgba(208, 99, 255, 1); 
    --color-edit-clock: rgba(210, 40, 255, 1); 
    --color-button-bg: rgb(44, 25, 70); 
    --color-button-hover: rgb(56, 33, 91)
  }

  /* Disable default input styling chromium */
  input:focus {
    outline: none;
  }

  .current-time-header-box-shadow {
    box-shadow: 0 4px 0 0 var(--color-accent-2);
  }

  .clock-title-box-shadow-off {
    box-shadow: 0px 3px 0 0 var(--color-accent-1);
  }

  .clock-title-box-shadow-on {
    box-shadow: 0px 3px 0 0 var(--color-accent-2);
  }
}

.theme-light{
  --color-background-base: rgba(244,244,244,1);
  --color-background-muted: rgba(224, 224, 224, 1);
  --color-text-base: rgb(0, 0, 0);
  --color-text-muted: rgba(79, 79, 79, 1);
  --color-text-inverted: rgba(244,244,244,1);
  --color-accent-1: rgb(31, 109, 151);
  --color-accent-2: rgba(255, 127, 0, 1);
  --color-edit-clock: rgba(150, 57, 168, 1);
}
.theme-dark {
  --color-background-base: rgb(0, 12, 18);
  --color-background-muted: rgb(0, 22, 34);
  --color-text-base: rgba(224, 224, 224, 1);
  --color-text-muted: rgba(79, 79, 79, 1);
  --color-text-inverted: rgba(244,244,244,1);
  --color-accent-1: rgb(31, 109, 151);
  --color-accent-2: rgba(255, 127, 0, 1);
  --color-edit-clock: rgba(150, 57, 168, 1);
}
.theme-retro {
  --color-background-base: rgb(240, 237, 225); 
  --color-background-muted: rgb(173, 185, 152);
  --color-text-base: rgba(60, 60, 55, 1); 
  --color-text-muted: rgba(95, 95, 95, 1); 
  --color-text-inverted: rgba(255, 255, 255, 1);
  --color-accent-1: rgb(33, 53, 57); 
  --color-accent-2: rgba(145, 130, 54, 1); 
  --color-edit-clock: rgba(200, 65, 170, 1);
  --color-button-bg: rgb(60, 45, 90); 
  --color-button-hover: rgb(90, 65, 125); 
}
.theme-olive {
  --color-background-base: rgb(10, 24, 22);
  --color-background-muted: rgb(28, 47, 44);
  --color-text-base: rgba(204, 204, 204, 1); 
  --color-text-muted: rgba(120, 120, 120, 1); 
  --color-text-inverted: rgba(244, 244, 244, 1);
  --color-accent-1: rgb(34, 81, 56); 
  --color-accent-2: rgba(255, 48, 48, 1);
  --color-edit-clock: rgba(200, 40, 60, 1);
  --color-button-bg: rgb(21, 44, 39); 
  --color-button-hover: rgb(15, 30, 28); 
}
.theme-grape {
  --color-background-base: rgb(22, 13, 40); 
  --color-background-muted: rgb(43, 22, 65); 
  --color-text-base: rgba(230, 230, 230, 1); 
  --color-text-muted: rgba(130, 130, 130, 1); 
  --color-text-inverted: rgba(244, 244, 244, 1); 
  --color-accent-1: rgb(95, 51, 157); 
  --color-accent-2: rgba(208, 99, 255, 1); 
  --color-edit-clock: rgba(210, 40, 255, 1); 
  --color-button-bg: rgb(44, 25, 70); 
  --color-button-hover: rgb(56, 33, 91)
}