@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-base: rgba(244,244,244,1);
    --color-background-muted: rgba(224, 224, 224, 1);
    --color-text-base: rgb(255, 255, 255, 1);
    --color-text-muted: rgba(79, 79, 79, 1);
    --color-text-inverted: rgba(34, 34, 34, 1);
    --color-accent1: rgba(44, 191, 176, 1);
    --color-accent2: rgba(255, 127, 0, 1);
    --color-edit-clock: rgba(150, 57, 168, 1);
  }
  /* .theme-light {
    --color-bkg: 0deg 0% 96.1%;
    --color-txt: 223deg 7.4% 19.8%;
    --color-cmp-bkg: 0deg 0% 87%;
    --color-accent1: 179deg 41.1% 46.7%;
    --color-accent2: 34deg 100% 49.8%;
    --color-edit-clock: 270deg 41.1% 46.7%;
  } */
  .theme-dark {
    --color-bkg: 223deg 7.4% 19.8%;
    --color-txt: 0deg 0% 96.1%;
    --color-cmp-bkg: 223deg 7.4% 17%;
    --color-accent1: 179deg 41.1% 46.7%;
    --color-accent2: 34deg 100% 49.8%;
    --color-edit-clock: 270deg 31.1% 46.7%;
  }
  .theme-retro {
    --color-bkg: 197deg 37% 24%;
    --color-txt: 0deg 0% 96.1%;
    --color-cmp-bkg: 197deg 37% 21%;
    --color-accent1: 173deg 58% 39%;
    --color-accent2: 12deg 76% 61%;
    --color-edit-clock: 43deg 74% 66%;
  }
  .theme-olive {
    --color-bkg: 128deg 21% 46%;
    --color-txt: 83deg 90% 94%;
    --color-cmp-bkg: 128deg 21% 38%;
    --color-accent1: 162deg 27% 19%;
    --color-accent2: 15deg 40% 40%;
    --color-edit-clock: 4deg 80% 65%;
  }
  .theme-grape {
    --color-bkg: 233deg 51% 14%;
    --color-txt: 286deg 70% 97%;
    --color-cmp-bkg: 233deg 51% 18%;
    --color-accent1: 245deg 72% 59%;
    --color-accent2: 250deg 60% 80%;
    --color-edit-clock: 249deg 93% 75%;
  }

  /* Disable default input styling chromium */
  input:focus {
    outline: none;
  }

  .current-time-header-box-shadow {
    box-shadow: 0 4px 0 0 var(--color-accent1);
  }
}
